
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: #1370B3;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #A3E8FF;
}


.homePageImage{
  width:96%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  opacity: 0.4;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.content {
  position: absolute;
  top: 0;
  text-align: center;
  color: black;
  width: 96%;
  padding: 40px;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #1370B3;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
  height: 550px;
}
#application{
  background-color: #F0FBFF;
  margin-top: 10px;
}
.socialICon{
  font-size: 50px;
  margin: 20px;
  color: white;
  opacity: 0.7;
}
.socialICon:hover {
   opacity: 1;
}